In [1]:
from pybit.unified_trading import HTTP
from pybit.unified_trading import WebSocket
import pybit # working source
import pandas as pd
import datetime 

import sys
from importlib import reload
sys.path.append('../../') 
sys.path.append('../src/')
from credentials import KEY, SECRET, KEY_test, SECRET_test
import src_API

reload(src_API)

__getting client__

In [2]:
client = HTTP(testnet=True, api_key=KEY_test, api_secret=SECRET_test)
symbol = 'BTCUSD'

__supporting functions__

In [3]:
reload(src_API)
display(src_API.convert_dt_to_timestamp('2024-02-01 17:44:00'))
display(src_API.convert_ts_to_datetime(1707656039991))

1706798640000

datetime.datetime(2024, 2, 11, 15, 53, 59, 991000)

## __Market API__

__getting bybit server time__

In [3]:
reload(src_API)
src_API.get_server_time(client)

(Timestamp('2024-02-26 15:21:33'), Timestamp('2024-02-26 15:21:33'))

In [8]:
# FOR TESTING!!! DO NOT DROP !!!
start = str((datetime.datetime.today() - datetime.timedelta(hours=0, minutes=3)))[:-7]
print(start)
start = src_API.convert_dt_to_timestamp(start)
end = str((datetime.datetime.today() - datetime.timedelta(hours=0, minutes=1)))[:-7]
print(end)
end = src_API.convert_dt_to_timestamp(end)

2024-02-24 13:21:29
2024-02-24 13:23:29

__getting historical data__

In [9]:
# spot,linear,inverse
# 1,3,5,15,30,60,120,240,360,720,D,M,W
reload(src_API)
src_API.get_kline(client, 'linear', 'BTCUSD', 1, start=start, limit=1000)

,datetime,timestamp,open,high,low,close,volume,turnover
0,2024-02-24 10:24:00,1708770240000,51132.5,51132.5,51132.5,51132.5,54955,1.07475674
1,2024-02-24 10:23:00,1708770180000,51138.5,51140,51130,51132.5,83976,1.64233739
2,2024-02-24 10:22:00,1708770120000,51170.5,51171,51138.5,51138.5,532190,10.40527641

__getting <u>!mark (global spot price)!</u> historical data__

In [7]:
# linear,inverse
# 1,3,5,15,30,60,120,240,360,720,D,M,W
reload(src_API)
src_API.get_mark_price_line(client, 'linear', 'BTCUSD', 1, start=start, limit=1000)

             datetime      timestamp      open     high       low     close
0 2024-02-16 13:51:00  1708091460000   52297.5  52347.5   52297.5     52347
1 2024-02-16 13:50:00  1708091400000  52272.35    52305  52272.35   52297.5
2 2024-02-16 13:49:00  1708091340000   52323.5  52323.5  52272.35  52272.35

__getting <u>!index price!</u> historical data__

In [8]:
reload(src_API)
src_API.get_index_price_kline(client, 'linear', 'BTCUSD', 1, start=start, limit=1000)

             datetime      timestamp      open      high       low     close
0 2024-02-16 13:51:00  1708091460000  52271.36  52314.74  52268.85  52314.74
1 2024-02-16 13:50:00  1708091400000  52221.45  52273.64  52218.53  52271.36
2 2024-02-16 13:49:00  1708091340000  52272.65  52272.88  52221.45  52221.45

__getting <u>!premium index price!</u> historical data__

In [28]:
reload(src_API)
src_API.get_premium_index_price_kline(client, 'linear', 'BTCUSD', 1, start=start, limit=1000)

,datetime,timestamp,open,high,low,close
0,2024-02-16 14:30:00,1708093800000,0.00000000,0.00000000,0.00000000,0.00000000
1,2024-02-16 14:29:00,1708093740000,0.00000000,0.00000000,0.00000000,0.00000000

__getting orderbook__  
I do not know why this is necessary, but may be latter...

In [22]:
reload(src_API)
src_API.get_orderbook(client, 'spot', 'BTCUSDT', limit=3)

,s,a,b,ts,u,datetime
0,BTCUSDT,"[33229.38, 0.000561]","[33206.66, 0.002947]",1708093797668,7090286,2024-02-16 14:29:57.668
1,BTCUSDT,"[33230.54, 0.000295]","[33206.6, 0.002515]",1708093797668,7090286,2024-02-16 14:29:57.668
2,BTCUSDT,"[33234.25, 0.01305]","[33206.58, 0.002852]",1708093797668,7090286,2024-02-16 14:29:57.668

__Getting Public Recent Trading History__  
actual price ???

In [21]:
reload(src_API)
src_API.get_public_trade_history(client, 'spot', 'BTCUSDT', optionType='Put', limit=3)

,execId,symbol,price,size,side,time,isBlockTrade
0,2100000000061507129,BTCUSDT,33206.64,0.001661,Sell,2024-02-16 14:29:39.318,False
1,2100000000061507128,BTCUSDT,33206.66,0.001287,Sell,2024-02-16 14:29:38.174,False
2,2100000000061507127,BTCUSDT,33206.68,0.00142,Sell,2024-02-16 14:29:36.620,False

__Get Historical Volatility__   
period only 30+ ???

In [19]:
reload(src_API)
src_API.get_historical_volatility(client, 'option', period=30, startTime=start, endTime=end)

   period       value                time
0      30  0.42277257 2024-02-16 14:00:00

__Get Insurance__  
Query for Bybit insurance pool data (BTC/USDT/USDC etc). The data is updated every 24 hours.

In [48]:
reload(src_API)
src_API.get_insurance(client, 'BTC')

  coin         balance               value updatedTime
0  BTC  37821.55122511  1963325174.5800002  2024-02-16

__Get Delivery Price__   
???

In [47]:
reload(src_API)
src_API.get_option_delivery_price(client, 'option', 'ETH-16FEB24-1400-C', 10 )

               symbol  deliveryPrice        deliveryTime category
0  ETH-16FEB24-1400-C  2818.70939445 2024-02-16 08:00:00   option

___